:root{
    --border-color: rgba(220, 220, 220, 0.65);
    --square-size: 50px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::before,::after{
    box-sizing: border-box;
}
body{
    font-family: Roboto, sans-serif;
    background-color: #78ACCD;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

article{
    --length: 400px;
    min-height: var(--length);
    min-width: var(--length);
    background-color: #fff;
}

header, footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-container-inline{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
header span{
    font-weight: 500;
    color: rgba(140, 140, 140, 0.75);
}

header, footer{
    padding: 1.5em;
}

header{
    border-bottom: 1px solid var(--border-color);
}
main{
    font-size: 0.75em;
    font-weight: 500;
    --month-color: rgba(100, 100, 100, 0.75);
    --light-number: rgba(240, 240, 240, 0.85);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(7, var(--square-size));
    grid-template-rows: repeat(6, var(--square-size));
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-container div{
    font-size: 1.20em;
}
footer{
    border-top: 1px solid var(--border-color);
    font-weight: 500;
    font-size: 0.85em;
}
.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
.item-color-month{
    color: var(--month-color);
    font-weight: 700;
}
.item-color-light{
    color: var(--light-number);
}
div .selected-bg-color-1{
    color: white;
}

.rounded-item{
    border-radius: 50%;
    height: calc(var(--square-size) - 15px);
    width: calc(var(--square-size) - 15px);
}
.selected-bg-color-1{
    background-color: #E56F40;
}
.selected-bg-color-2{
    background-color: #B45990;
}
.selected-color-1{
    border: 2px solid #E56F40;
}
.selected-color-2{
    border: 2px solid #B45990;
}

.item-relative{
    position: relative;
}
.item-absolute{
    padding: 2px;
    left: 60%;
    position: absolute;
    top: -3px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}