*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, sans-serif;
}
.background{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    width: 100vw;
    min-height: 500px;
}

.trapezoid{
    border-color: rgba(236, 200, 67, 0.90) rgba(236, 200, 67, 0.90) rgba(236, 200, 67, 0.90) transparent;
    border-left-width: 9vw;
    border-top-width: 0;
    border-right-width: 29vw;
    border-bottom-width: 100vh;
    border-style: solid;
}

.p-absolute-end{
    position: absolute;
    top: 0;
    right: 0;
}

.padding-1{
    padding: 1.5em 1.4em;
}
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}
.d-flex-end{
    display: flex;
    justify-content: flex-end;
}
.d-flex-end-column{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.column{
    display: flex;
    flex-direction: column;
}
.height-95{
    height: 95vh;
}
.height-75{
    height: 75vh;
}
.height-15{
    height: 15vh;
}

.inline-flex-column{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inline-flex{
    display: inline-flex;
    align-items: center;
}
.chevron-top::before{
    content: "";
    display: inline-block;
    border-top: 0.15em solid white;
    border-right: 0.15em solid white;
    width: 0.30em;
    height: 0.30em;
    rotate: -45deg;
    margin-bottom: 0.75em;
}

.chevron-bottom::after {
    content: "";
    display: inline-block;
    border-top: 0.15em solid white;
    border-right: 0.15em solid white;
    width: 0.30em;
    height: 0.30em;
    rotate: 135deg;
    margin-top: 0.75em;
}

.white-color{
    color: white;
}
.black-color{
    color: black;
}
.foreground{
    z-index: 2;
}
.upper{
    text-transform: uppercase;
}

.arrow::after{
    content: url(img/more.svg);
    display: inline-block;
    margin-left: 0.5em;
    height: 24px;
    width: 24px;
}

.font-6{
    font-size: 6em;
}
.d-flex-end-column p{
    font-weight: 500;
    font-size: 2em;
}
.width{
    max-width: 20em;
}
.align-right{
    text-align: right;
}

.view:before{
    content: url(img/view.svg);
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 0.5em;
}

.p-end{
    text-align: right;
    margin-top: auto;
}
